<nav class="navbar navbar-default">
  <div *ngIf="noName"
       class="alert alert-danger">
    {{noNameMsg}}
  </div>

  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <button (click)="f.ngSubmit.emit()" [disabled]="!f.valid" class="btn btn-link cl-icon-padding cl-text-black">
          <span class="glyphicon glyphicon-ok">
          </span>
      </button>
    </div>
    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit)="update()" #f="ngForm">
    <div class="form-group">
      <label for="image-name">Name</label>
      <input [(ngModel)] = "widget.name"
             name = "name"
             type="text"
             class="form-control"
             id="image-name"
             placeholder="Name">
    </div>
    <div class="form-group">
      <label for="image-text">Text</label>
      <input [(ngModel)]="widget.text"
             name="text"
             type="text"
             class="form-control"
             id="image-text"
             placeholder="{{widget.text}}">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input [(ngModel)]="widget.url"
             name="url"
             type="text"
             class="form-control"
             id="image-URL"
             required
             placeholder="{{widget.url}}">
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input [(ngModel)]="widget.width"
             name="width"
             type="text"
             class="form-control"
             id="image-width"
             placeholder="{{widget.width}}">
    </div>
    <div class="form-group">
      <label for="myFile">Upload</label>
      <form ngNoForm action="{{baseUrl}}/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile" id="myFile"  type="file" class="form-control"/>
        <input  name="widgetId" value="{{wgId}}" style="display: none"/>
        <input  name="pageId" value="{{pid}}" style="display: none"/>
        <input  name="websiteId" value="{{wid}}" style="display: none"/>
        <input  name="userId" value="{{uid}}" style="display: none"/>
        <button type="submit" class="btn btn-block btn-info">Upload Image</button>
      </form>

      <br>
      <a class="btn btn-primary btn-block "

         [routerLink]="['/user/website/'+ wid +'/page/'+ pid +'/widget/'+ wgId +'/flickr']" >Choose From Flickr</a>

    </div>
  </form>

  <button (click)="delete()" class="btn btn-link btn btn-danger btn-block">Delete</button>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">

      <a href="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
