<nav class="navbar navbar-default">
  <div *ngIf="noName"
       class="alert alert-danger">
    {{noNameMsg}}
  </div>

  <div class="container-fluid row">
    <div class="navbar-text pull-left">
      <a routerLink="../" class="cl-text-black cl-icon-padding">
          <span class="glyphicon glyphicon-chevron-left">
          </span>
      </a>
    </div>

    <div class="navbar-text pull-right">
      <button class="btn btn-link cl-icon-padding cl-text-black" (click)="f.ngSubmit.emit()" [disabled]="!f.valid">
          <span class="glyphicon glyphicon-ok">
          </span>
      </button>
    </div>

    <a class="navbar-brand cl-text-white cl-text-bold" href="#">
      Widgets Edit
    </a>
  </div>
</nav>

<div class="container-fluid">
  <form (ngSubmit)="updateText()" #f="ngForm">
    <div class="form-group">
      <label for="text-name">Name</label>
      <input [(ngModel)] = "widget.name"
             name = "name"
             type="text"
             class="form-control"
             id="text-name"
             placeholder="Name">
    </div>
    <div class="form-group">
      <label for="text-text">Text</label>
      <input [(ngModel)]="widget.text"
             name="text"
             type="text"
             class="form-control"
             id="text-text"
             placeholder="{{widget.text}}"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="text-rows">Rows</label>
      <input type="text"
             class="form-control"
             id="text-rows"
             placeholder="Rows">
    </div>

    <div class="form-group">
      <label for="text-placeholder">Placeholder</label>
      <input type="text"
             class="form-control"
             id="text-placeholder"
             placeholder="Placeholder">
    </div>

    <div class="input-group">
      <input type="text"
             readonly
             value="Formatted"
             class="form-control"/>
      <span class="input-group-addon">
        <input [(ngModel)]="widget.formatted" type="checkbox" [ngModelOptions]="{standalone: true}"/></span>
    </div>

    <div class="from-group">
      <button (click)="deleteText()" class="btn btn-danger btn-block" type="button">Delete</button>
    </div>
  </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="pull-right navbar-text">
      <a routerLink="/profile" class="cl-icon-padding">
        <span class="glyphicon glyphicon-user"></span>
      </a>

    </div>
  </div>
</nav>
